<div class="event-edit">
<h2 class="event-title">Wanna make some changes?</h2>
<form action="/events/{{event._id}}/edit" method="POST" enctype="multipart/form-data">
  <div class="form-field">
    <label for="title">Name of your event: </label>
    <input id="title" type="text" name="title" value="{{event.title}}">
  </div>
  <div class="form-field">
    <label for="date">Date: </label>
    <input type="date" name="date" min="2019-09-27">
  </div>
  <div class="form-field">
    <label for="content">Description: </label>
    <input id="content" type="text" name="content" value="{{event.content}}">
  </div>
  <div class="form-field">
    <label for="address">Address: </label>
    <input id="address" type="text" name="address" value="{{event.address}}">
  </div>
  <div class="form-field">
    <label for="locality">Locality: </label>
    <input id="locality" type="text" name="locality" value="{{event.locality}}">
  </div>
  <div class="form-field">
    <label for="city">City: </label>
    <input id="city" type="text" name="city" value="{{event.city}}">
  </div>

  <div class="form-field">
    <label for="postalcode">Postal code: </label>
    <input id="postalcode" type="text" name="postalcode" value="{{event.postalcode}}">
  </div>

  <div class="form-field">
    <label for="state">State: </label>
    <input id="state" type="text" name="state" value="{{event.state}}">
  </div>

  <div>
    <label for="picPath">Change the picture for the event: </label>
    <img src="{{event.picPath}}" alt="Event Photo">
    <input type="file" name="picPath" id="picPath" >
  </div>
  <input type="hidden" name="photo" value="{{event.picPath}}">
  <input type="submit" value="Accept Changes">
</form>
</div>