{{#each events}}
{{!-- {{> eventPartial}} --}}
<div class="event">
<h2 class="event-title"><a href="/events/{{this.id}}">{{this.title}}</a></h2>
<p>{{content}}</p>
<p>Created by: {{this.creatorId.username}}</p>
<img src="{{this.picPath}}" alt="Event Photo" width="100px">
<p>Comments: {{this.comments.length}}</p>
</div>
<br>
{{else}}
<p>There are no friends heating the embers at this moment! :(</p>
{{/each}}