<div class="profile">
  <div class="profile-text">

      <h2>Your profile</h2>

    <div class="profile-inputs">
      <p>Name: {{user.name}}</p>
    </div>
    <div class="profile-inputs">
      <p>Surname: {{user.surname}}</p>
    </div>
    <div class="profile-inputs">
      <p>Age: {{user.age}}</p>
    </div>
    <div class="profile-inputs">
      <p>Username: {{user.username}}</p>
    </div>
    <div class="profile-inputs">
      <p>E-mail: {{user.email}}</p>
    </div>
    <div class="profile-inputs">
      <p>Location: {{user.location}}</p>
    </div>
    <div class="profile-inputs">
      <p>Bio: {{user.bio}}</p>
    </div>
    <div class="profile-inputs">
      <p>My profile picture:</p>
    </div>
<br>
    <img src="{{user.photo}}" alt="{{user.username}} photo"><br>

  <a class="btn btn-1 btn-sep icon-info" href="/profile/{{user.username}}/editProfile">Edit your profile</a>
  </div>
</div>