<div class="profile">
<h2 class="event-title">{{user.id}}</h2>
<p>{{user.username}}</p>
<p>{{content}}</p>
<img src="{{picPath}}" alt="{{picName}}">
<br>
<p>Comments: {{this.comments.length}}</p>
<a href="/events/{{this.id}}">Comment</a>
</div>
