{{#with event}}

<div class="event">
<h2 class="event-title">{{this.title}}</h2>
<p>Created by: {{this.creatorId.username}}</p>
<p>{{this.content}}</p>
<img src="{{this.picPath}}" alt="Event Photo">
<p>Comments: {{this.comments.length}}</p>
</div>

 {{/with}}