{{#with event}}

<div class="event">
<h2 class="event-title">{{this.title}}</h2>
<p>Created by: {{this.creatorId.username}}</p>
<p>Date :{{this.date}}</p>
<p>Description :{{this.content}}</p>
<p>Address: {{this.address}}</p>
<p>Locality: {{this.locality}}</p>
<p>City: {{this.city}}</p>
<p>Postal code: {{this.postalcode}}</p>
<p>State:  {{this.state}}</p>
<img src="{{this.picPath}}" alt="Event Photo">
<p>Comments: {{this.comments.length}}</p>
</div>

 {{/with}}