{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Hola</h2> --}}

<header>
  <nav>
    <div class="menu">
      <a href="/">Home</a>
      {{#if user}}
      <a href="/events">Events</a>
      <a href="/events/new">Create Event</a>
      <a href="/profile/{{user.username}}">Your Profile</a>
      <a href="/auth/logout">Logout</a>
      {{else}}
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      {{/if}}
    </div>
  </nav>
</header>

<div class="fondo">
  <h1>{{title}}</h1>
  <h4>Embers Pals was born to connect people around the world with what we love the most</h4>
  <div class='text2'>
    <h4>Light up a campfire and share great moments.</h4>
  </div>

  <div class="button">
    <a href="/auth/signup" class="button2">Go for it</a>
  </div>
</div>